label {
    margin-left: 20px;

}

input {

    margin-left: 80px;
}

#fname,
#lname,
.day,
.month,
.year,
#email,
#number,
#male,
#female,
#city,
#pincode,
#state,
#country,
.hobbies,
#qualification,
#courses {
    margin-bottom: 20px;
}

#dob {
    margin-right: 0%;
}

span {
    margin-left: 20px;
    ;
}

#city,
#fname {
    margin-top: 20px;
}



h2 {
    color: blueviolet;
    text-align: center;
}

form {
    background-color: blueviolet;
    width: 80%;
    margin-left: 10%;
    color: azure;
    height: 800px;
}

table {
    text-align: center;
    margin-left: 20%;

}

#address {
    margin-left: 80px;
}

.day {
    margin-left: 80px;

}

#drawing,
#singing,
#dancing,
#others {
    margin-left: auto !important;
}

.hobbies {
    margin-right: 15%;
    margin-bottom: 20px;
}

.male,
#courses {
    margin-left: 80px;
}

#male,
#female,
#bca,
#bsc,
#ba {
    margin-left: 0%;
}

#others {
    margin-bottom: 20px;
}

td {
    margin: 0% !important;
}